/* Сброс стилей */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Общие стили для body и контейнера */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Ссылки */

a {
    color: white;
    /* Измените цвет по вашему выбору */
    text-decoration: none;
}

a:hover {
    color: #ccc;
    /* Измените цвет по вашему выбору */
    text-decoration: underline;
}


/* Заголовки */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}


/* Параграфы и списки */

p {
    margin-bottom: 10px;
}

ul,
ol {
    margin-bottom: 10px;
    padding-left: 20px;
    list-style: none;
}


/* Кнопки */

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}


/* Изображения */

img {
    max-width: 100%;
    height: auto;
}


/* Формы */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Медиазапросы для адаптивности */

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}